$static-image-path: '~@salesforce-ux/design-system/assets/images';
$static-font-path: '~@salesforce-ux/design-system/assets/fonts/webfonts';
$brand-background-primary: #ffffff;

@import "~@salesforce-ux/design-system/scss/index.scss";